* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    border-bottom: 1px solid black;
    padding: 30px 15px;
}

.container_main {
    display: flex;
    align-items: center;
}

.box_terms {
    display: flex;
    width: 100%;
}

.box_terms a {
    color: gray;
    font-size: 1.5rem;
}

.right_header {
    text-align: end;
    width: 50%;
}

.list {
    margin-left: 0;
    list-style: none;
}

.list li {
    display: inline-block;
}

.list a {
    color: gray;
    font-weight: 400;
    margin-right: 2rem;
    font-size: 1.2rem;
}